body {
  text-align: center;
  background-color: #333138;
  color: #FFF2F1;
  font-family: Nunito;
  font-size: 16px;
}

h1 {
  font-family: "Oxygen", sans-serif;
  color: #A2D729 ;
}


h2 {
  font-family: "Oxygen", sans-serif;
  color: #53F4FF;
}

a {
  color: #FFF2F1 ;
  font-family: "Nunito", sans-serif;
  font-family: "Courier New", Courier, monospace;
  font-size: 19px;
}

ul {
  text-align: justify;
  
}
